* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  background-color: #fafbff;
  font-family: "Manrope", sans-serif;
  font-weight: 600;
  font-size: 15px;
  color: #858fad;
}

body main {
  background-image: url(/images/bg-pattern.svg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 50vh;
}

body main header {
  text-align: center;
  padding-top: 10%;
  padding-bottom: 10%;
  background-image: url(/images/pattern-circles.svg);
  background-repeat: no-repeat;
  background-position: center;
}

body main header h1 {
  color: #293356;
}

body main .pricingComponent {
  width: 50%;
  height: 50%;
  margin: 0% auto;
  background-color: white;
  -webkit-box-shadow: 5px 5px 5px 4px #eaeefb;
          box-shadow: 5px 5px 5px 4px #eaeefb;
  border-radius: 8px;
}

body main .pricingComponent .widthContainer {
  width: 75%;
  height: 45px;
  margin: auto;
}

body main .pricingComponent .component1 {
  padding-top: 40px;
}

body main .pricingComponent .component1 #pageViews {
  text-transform: uppercase;
  display: inline-block;
  float: left;
}

body main .pricingComponent .component1 #boldCost {
  font-weight: 800;
  font-size: 40px;
  color: #293356;
}

body main .pricingComponent .component1 #monthlyCost {
  display: inline-block;
  float: right;
}

body main .pricingComponent .component1 .slideContainer {
  width: 75%;
  margin: auto;
  padding-top: 5%;
  padding-bottom: 5%;
}

body main .pricingComponent .component1 .slideContainer .slider {
  -webkit-appearance: none;
  width: 100%;
  height: 10px;
  background: -webkit-gradient(linear, left top, right top, color-stop(50%, #a5f3eb), color-stop(50%, #eaeefb));
  background: linear-gradient(90deg, #a5f3eb 50%, #eaeefb 50%);
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
  border-radius: 12px;
}

body main .pricingComponent .component1 .slideContainer .slider:hover {
  opacity: 1;
}

body main .pricingComponent .component1 .slideContainer .slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 40px;
  height: 40px;
  background: url(/images/icon-slider.svg);
  background-position: center;
  background-color: #10d5c2;
  background-repeat: no-repeat;
  border-radius: 50%;
  cursor: pointer;
  -webkit-box-shadow: 5px 5px 5px #a5f3eb;
          box-shadow: 5px 5px 5px #a5f3eb;
}

body main .pricingComponent .component1 .slideContainer .slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: url(/images/icon-slider.svg);
  background-position: center;
  background-color: #10d5c2;
  background-repeat: no-repeat;
  border-radius: 50%;
  cursor: pointer;
}

body main .pricingComponent .component1 .toggleSwitch p {
  float: right;
}

.switch {
  position: relative;
  display: inline-block;
  width: 45px;
  height: 25px;
  margin-left: 20px;
  margin-right: 20px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.switchSlider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #cdd7ee;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.switchSlider:before {
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  left: 4px;
  bottom: 5px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .switchSlider {
  background-color: #293356;
}

input:focus + .switchSlider {
  -webkit-box-shadow: 0 0 1px #293356;
          box-shadow: 0 0 1px #293356;
}

input:checked + .switchSlider:before {
  -webkit-transform: translateX(20px);
  transform: translateX(20px);
}

/* Rounded sliders */
.switchSlider.round {
  border-radius: 34px;
}

.switchSlider.round:before {
  border-radius: 50%;
}

#discount {
  background-color: #feece7;
  color: #ff8c66;
  border-radius: 50px;
  font-size: 12px;
  padding: 4px;
  margin-left: 10px;
}

.component2 {
  width: 75%;
  margin: auto;
  height: 100px;
  padding-top: 20px;
}

.perksList {
  float: left;
}

.perksList ul {
  list-style-image: url(/images/icon-check.svg);
}

.perksList ul li {
  margin-bottom: 6px;
}

.trialComponent {
  float: right;
  margin-top: 15px;
}

button {
  background-color: #293356;
  border: none;
  color: #bdccff;
  padding: 12px 45px;
  text-align: center;
  text-decoration: none;
  font-size: 15px;
  border-radius: 40px;
}

.attribution {
  position: absolute;
  bottom: 0;
}
/*# sourceMappingURL=styles.css.map */